@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


:root {
    --var-font: 'Roboto', sans-serif;
}

.app {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.logo {
    height: auto;
    width: auto;
    position: absolute;
    top: 30px;
    left: 50px;
}
.logo img {
    height: 100%;
    width: 100%;
}
footer {
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: -15px;
    left: 50%;
}